html {
	background-color: #000;
	color: #EBEBEB;
}

body {
	font-family: sans-serif;
	line-height: 1.7em;
	padding: 8%;
	padding-top: 0;
	margin: 0;
	justify-content: center;
	text-align: justify;
}

img {
	max-width: 40%;
	height: auto;
}

h2 {
	text-align: center;
} 

a {
	color: #fff;
	text-decoration: underline;
}

a:visited {
	color: #fff;
}

.signup {
	text-decoration: none;
	background-color: #980000;
	color: #fff;
	padding: 10px;
	display: block;
}

.singup:visited {
	color: #fff;
}

.information {
	background-color: yellow;
	color: #000;
}

.information:visited {
	color: #000;
}

.signup:hover {
	background-color: #cc0000;
}

.information:hover {
	background-color: white;
}

.grid-container {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr auto;
}

.grid-item-pos-hack {
  	grid-row-start: 2;
}

.legal {
	font-size: 0.6em;
}

@media only screen and (max-width: 600px) {
	img {
		max-width: 100%;
	}

	.grid-container {
		display: inherit;
	}
}

.sr-only {
	position: absolute;
	left:-10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}